body {
  width: 300px;
  height: 100%;
}

#header {
  width: 316px;
  margin: -8px 0 8px -8px;
  padding: 1px;
  background-color: gray;
  font-size: 0.7rem;
  color: white;
  text-align: center;
}

#result {
  width: 80%;
}

#interim {
  width: 80%;
  color: gray;
}

#mic {
  display: flex;
  justify-content: center;
}

#mic:hover {
  cursor: pointer;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.fa-microphone.ready {
  display: none;
  color: #00cc00;
}

.fa-microphone-slash.notready {
  display: inline-block;
}

.fa-microphone.loading {
  display: none;
  animation: blink 1s linear infinite;
}

.statusIcon {
  font-size: 2rem;
}

#langSelection,
#translateTargetSelection {
  display: flex;
  justify-content: space-between;
}
